<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="CSS/style.css" />
		<title>BigDickRandy - Dreams come true!</title>
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navigation">
			<div class="navigation__logo">
				<h1> Big Dick Randy </h1>
			</div>
			<div class="navigation__links">
				<a href="#">Home</a>
				<a href="#">About</a>
			</div>
		</nav>

		<!-- Main Content - Hero Section -->
		<main class="hero">
			<div class="hero__text">
				<h2 class="hero__heading">
					big dick randian
				</h2>
				<p class="hero__description">
					Big Dick Randy is a menacing figure, known
					for his ruthless and predatory ways. His
					presence instills fear, as he lurks on
					Halloween, preying on unsuspecting victims
					with relentless determination.
				</p>
				<div class="hero__buttons">
					<button
						class="hero__button"
						id="button1"
						>shorter</button
					>
					<button
						class="hero__button"
						id="button2"
						>long ass text for test</button
					>
				</div>
			</div>
			<div class="hero__image">
				<img
					src="images/download.jpg"
					alt="A MAN WITH BIG DICK"
					class="image" />
			</div>
		</main>

		<!-- Bottom Section -->
		<section class="bottom-section">
			<!-- First Item -->
			<div class="bottom-section__item">
				<div class="bottom-section__image">
					<img
						src="images/Linux-PNG-Download-Image.webp"
						alt="Random ass image"
						class="inner-div-img" />
				</div>
				<div class="bottom-section__content">
					<h2 class="bottom-section__heading"
						>Kossher</h2
					>
					<p class="bottom-section__description"
						>Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Cumque, repellendus.</p
					>
				</div>
			</div>
			<!-- Second Item -->
			<div class="bottom-section__item">
				<div class="bottom-section__image">
					<img
						src="images/Linux-PNG-Download-Image.webp"
						alt="Random ass image"
						class="inner-div-img" />
				</div>
				<div class="bottom-section__content">
					<h2 class="bottom-section__heading"
						>Kossher</h2
					>
					<p class="bottom-section__description"
						>Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Cumque, repellendus.</p
					>
				</div>
			</div>
			<!-- Third Item -->
			<div class="bottom-section__item">
				<div class="bottom-section__image">
					<img
						src="images/Linux-PNG-Download-Image.webp"
						alt="Random ass image"
						class="inner-div-img" />
				</div>
				<div class="bottom-section__content">
					<h2 class="bottom-section__heading"
						>Kossher</h2
					>
					<p class="bottom-section__description"
						>Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Cumque, repellendus.</p
					>
				</div>
			</div>
			<!-- Fourth Item -->
			<div class="bottom-section__item">
				<div class="bottom-section__image">
					<img
						src="images/Linux-PNG-Download-Image.webp"
						alt="Random ass image"
						class="inner-div-img" />
				</div>
				<div class="bottom-section__content">
					<h2 class="bottom-section__heading"
						>Kossher</h2
					>
					<p class="bottom-section__description"
						>Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Cumque, repellendus.</p
					>
				</div>
			</div>
		</section>

		<!-- Footer Section -->
		<footer>
			<div class="footer__content">
				<h2 class="footer__heading">Sponser Me.</h2>
				<input
					type="email"
					name="Email"
					class="input-email"
					placeholder="Email.." />
				<button
					type="button"
					class="footer__button">
					Buy me a coffee
				</button>
			</div>
		</footer>
	</body>
</html>
