* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Jetbrains Mono Nerd Font";
}

body {
  background-color: black;
  color: white;
  line-height: 1.5;
  width: 100vw;
  height: 100vh;
}

div {
  text-align: center;
  margin: 6rem;
  padding: 2rem;
  box-sizing: border-box;
}

.hero {
  width: 90vw;
  height: 90vh;
}

.lasagna-hero,
.pasta-hero {
  background-color: #222222;
}

.hero,
.lasagna-hero,
.pasta-hero {
  margin: auto;
}

h1 {
  padding: 1rem;
  margin: 1rem;
}

h2 {
  padding: 1px 1rem;
  margin: 1rem 0;
}

.lasagna-hero,
.pasta-hero {
  width: 40vw;
}

img {
  width: 40vw;
  height: 40vw;
  display: block;
  margin: 0 auto;
}

ol img {
  height: 400px;
  width: 400px;
}

ol,
ul,
li {
  padding: 2px;
  margin: 10px;
}

ul,
ol,
li,
h2,
h1 {
  text-align: start;
}

figcaption {
  text-align: center;
}

sub {
  color: darkred;
}

a {
  text-decoration: none;
  font-size: 20px;
  margin: 0.2rem;
  color: lightblue;
}

a:hover {
  display: inline;
  background: linear-gradient(to right, #e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
